<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="assets/images/logo.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/logo-dark.png" alt="" height="30">
                    </span>
                </a>

                <a href="/" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="assets/images/logo-light.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/logo-light.png" alt="" height="30">
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm me-2 font-size-24 d-lg-none header-item waves-effect waves-light" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                <i class="mdi mdi-menu"></i>
            </button>
           
        </div>

         <!-- Search input -->
         <div class="search-wrap" id="search-wrap">
            <div class="search-bar">
                <input class="search-input form-control" placeholder="Search">
                <a href="#" class="close-search toggle-search" data-target="#search-wrap">
                    <i class="mdi mdi-close-circle"></i>
                </a>
            </div>
        </div>

        <div class="d-flex">

            <div class="dropdown d-none d-lg-inline-block me-2">
                <button type="button" class="btn header-item toggle-search noti-icon waves-effect" data-target="#search-wrap">
                    <i class="mdi mdi-magnify"></i>
                </button>
            </div>

            <div class="dropdown d-none d-lg-inline-block me-2">
                <button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="fullscreen">
                    <i class="mdi mdi-fullscreen"></i>
                </button>
            </div>

            <div class="dropdown d-none d-md-block me-2">
                <button type="button" class="btn header-item waves-effect" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="font-size-16"> English </span> <img class="ms-2" src="assets/images/flags/us_flag.jpg" alt="Header Language" height="16">
                </button>
                <div class="dropdown-menu dropdown-menu-end">

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="assets/images/flags/germany_flag.jpg" alt="user-image" height="12"> <span class="align-middle"> German </span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="assets/images/flags/italy_flag.jpg" alt="user-image" height="12"> <span class="align-middle"> Italian </span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="assets/images/flags/french_flag.jpg" alt="user-image" height="12"> <span class="align-middle"> French </span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="assets/images/flags/spain_flag.jpg" alt="user-image" height="12"> <span class="align-middle"> Spanish </span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="assets/images/flags/russia_flag.jpg" alt="user-image" height="12"> <span class="align-middle"> Russian </span>
                    </a>
                </div>
            </div>

            <div class="dropdown d-inline-block me-2">
                <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ion ion-md-notifications"></i>
                    <span class="badge bg-danger rounded-pill">3</span>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-notifications-dropdown">
                    <div class="p-3">
                        <div class="row align-items-center">
                            <div class="col">
                                <h5 class="m-0 font-size-16"> Notification (3) </h5>
                            </div>
                        </div>
                    </div>
                    <div data-simplebar style="max-height: 230px;">
                        <a href="" class="text-reset notification-item">
                            <div class="d-flex">
                                <div class="avatar-xs me-3">
                                    <span class="avatar-title bg-success rounded-circle font-size-16">
                                        <i class="mdi mdi-cart-outline"></i>
                                    </span>
                                </div>
                                <div class="flex-1">
                                    <h6 class="mt-0 font-size-15 mb-1">Your order is placed</h6>
                                    <div class="font-size-12 text-muted">
                                        <p class="mb-1">Dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="" class="text-reset notification-item">
                            <div class="d-flex">
                                <div class="avatar-xs me-3">
                                    <span class="avatar-title bg-warning rounded-circle font-size-16">
                                        <i class="mdi mdi-message-text-outline"></i>
                                    </span>
                                </div>
                                <div class="flex-1">
                                    <h6 class="mt-0 font-size-15 mb-1">New Message received</h6>
                                    <div class="font-size-12 text-muted">
                                        <p class="mb-1">You have 87 unread messages</p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="" class="text-reset notification-item">
                            <div class="d-flex">
                                <div class="avatar-xs me-3">
                                    <span class="avatar-title bg-info rounded-circle font-size-16">
                                        <i class="mdi mdi-glass-cocktail"></i>
                                    </span>
                                </div>
                                <div class="flex-1">
                                    <h6 class="mt-0 font-size-15 mb-1">Your item is shipped</h6>
                                    <div class="font-size-12 text-muted">
                                        <p class="mb-1">It is a long established fact that a reader will</p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="p-2 border-top">
                        <div class="d-grid">
                            <a class="btn btn-sm btn-link font-size-14  text-center" href="javascript:void(0)">
                                View all
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="assets/images/users/avatar-1.jpg" alt="Header Avatar">
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <a class="dropdown-item" href="#"><i class="bx bx-user font-size-16 align-middle me-1"></i> Profile</a>
                    <a class="dropdown-item" href="#"><i class="bx bx-wallet font-size-16 align-middle me-1"></i> My Wallet</a>
                    <a class="dropdown-item d-block" href="#"><span class="badge bg-success float-end">11</span><i class="bx bx-wrench font-size-16 align-middle me-1"></i> Settings</a>
                    <a class="dropdown-item" href="#"><i class="bx bx-lock-open font-size-16 align-middle me-1"></i> Lock screen</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="#"><i class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> Logout</a>
                </div>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
                    <i class="mdi mdi-spin mdi-cog"></i>
                </button>
            </div>

        </div>
    </div>
    
</header>
    
    <div class="topnav">
        <div class="container-fluid">
            <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
    
                <div class="collapse navbar-collapse" id="topnav-menu-content">
                    <ul class="navbar-nav">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-dashboard" role="button">
                                <i class="mdi mdi-view-dashboard me-2"></i>Dashboard <div class="arrow-down"></div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="topnav-dashboard">
                                <a href="/" class="dropdown-item">Dashboard One</a>
                                <a href="dashboard-2" class="dropdown-item">Dashboard Two</a>
                            </div>
                        </li>

    
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-ui kit" role="button">
                                <i class="mdi mdi-buffer me-2"></i>UI Kit <div class="arrow-down"></div>
                            </a>

                            <div class="dropdown-menu mega-dropdown-menu px-2 dropdown-mega-menu-xl dropdown-menu-left"
                                aria-labelledby="topnav-ui kit">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div>
                                           <a href="ui-buttons" class="dropdown-item">Buttons</a>
                                           <a href="ui-colors" class="dropdown-item">Colors</a>
                                           <a href="ui-cards" class="dropdown-item">Cards</a>
                                           <a href="ui-tabs-accordions" class="dropdown-item">Tabs &amp; Accordions</a>
                                           <a href="ui-modals" class="dropdown-item">Modals</a>
                                           <a href="ui-images" class="dropdown-item">Images</a>
                                           <a href="ui-alerts" class="dropdown-item">Alerts</a>
                                           <a href="ui-progressbars" class="dropdown-item">Progress Bars</a>
                                           <a href="ui-dropdowns" class="dropdown-item">Dropdowns</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div>
                                           <a href="ui-lightbox" class="dropdown-item">Lightbox</a>
                                           <a href="ui-navs" class="dropdown-item">Navs</a>
                                           <a href="ui-pagination" class="dropdown-item">Pagination</a>
                                           <a href="ui-popover-tooltips" class="dropdown-item">Popover &amp; Tooltips</a>
                                           <a href="ui-badge" class="dropdown-item">Badge</a>
                                           <a href="ui-carousel" class="dropdown-item">Carousel</a>
                                           <a href="ui-video" class="dropdown-item">Video</a>
                                           <a href="ui-typography" class="dropdown-item">Typography</a>
                                           <a href="ui-sweet-alert" class="dropdown-item">Sweet-Alert</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div>
                                           <a href="ui-grid" class="dropdown-item">Grid</a>
                                           <a href="ui-animation" class="dropdown-item">Animation</a>
                                           <a href="ui-highlight" class="dropdown-item">Highlight</a>
                                           <a href="ui-rating" class="dropdown-item">Rating</a>
                                           <a href="ui-nestable" class="dropdown-item">Nestable</a>
                                           <a href="ui-alertify" class="dropdown-item">Alertify</a>
                                           <a href="ui-rangeslider" class="dropdown-item">Range Slider</a>
                                           <a href="ui-sessiontimeout" class="dropdown-item">Session Timeout</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </li>
    
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button">
                                <i class="mdi mdi-cube-outline me-2"></i>Components <div class="arrow-down"></div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="topnav-components">

                                <div class="dropdown">
                                    <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-email"
                                        role="button">
                                        Email <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-email">
                                       <a href="email-inbox" class="dropdown-item">Inbox</a>
                                       <a href="email-read" class="dropdown-item">Email Read</a>
                                       <a href="email-compose" class="dropdown-item">Email Compose</a>
                                    </div>
                                </div>

                                <a href="widgets" class="dropdown-item">Widgets</a>
                                <a href="calendar" class="dropdown-item">Calendar</a>
                                <a href="file-manager" class="dropdown-item">
                                    <span>File Manager</span>
                                    <span class="badge rounded-pill bg-danger ms-5">New</span>
                                </a>
                                <div class="dropdown">
                                    <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-forms"
                                        role="button">
                                        Forms <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-forms">
                                       <a href="form-elements" class="dropdown-item">Form Elements</a>
                                       <a href="form-validation" class="dropdown-item">Form Validation</a>
                                       <a href="form-advanced" class="dropdown-item">Form Advanced</a>
                                       <a href="form-wizard" class="dropdown-item">Form Wizard</a>
                                       <a href="form-editors" class="dropdown-item">Form Editors</a>
                                       <a href="form-uploads" class="dropdown-item">Form File Upload</a>
                                       <a href="form-mask" class="dropdown-item">Form Mask</a>
                                       <a href="form-xeditable" class="dropdown-item">Form Xeditable</a>
                                    </div>
                                </div>
                                
                                <div class="dropdown">
                                    <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-chart"
                                        role="button">
                                        Chart <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-chart">
                                        <a href="charts-morris" class="dropdown-item">Morris Chart</a>
                                        <a href="charts-chartist" class="dropdown-item">Chartist Chart</a>
                                        <a href="charts-chartjs" class="dropdown-item">Chartjs Chart</a>
                                        <a href="charts-flot" class="dropdown-item">Flot Chart</a>
                                        <a href="charts-c3" class="dropdown-item">C3 Chart</a>
                                        <a href="charts-sparkline" class="dropdown-item">Sparkline Chart</a>
                                        <a href="charts-other" class="dropdown-item">Jquery Knob Chart</a>
                                        <a href="charts-peity" class="dropdown-item">Peity Chart</a>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-tables"
                                        role="button">
                                        Tables <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-tables">
                                        <a href="tables-basic" class="dropdown-item">Basic Tables</a>
                                        <a href="tables-datatable" class="dropdown-item">Data Table</a>
                                        <a href="tables-responsive" class="dropdown-item">Responsive Table</a>
                                        <a href="tables-editable" class="dropdown-item">Editable Table</a>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-icons"
                                        role="button">
                                        Icons <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-icons">
                                        <a href="icons-material" class="dropdown-item">Material Design</a>
                                        <a href="icons-ion" class="dropdown-item">Ion Icons</a>
                                        <a href="icons-fontawesome" class="dropdown-item">Font Awesome</a>
                                        <a href="icons-themify" class="dropdown-item">Themify Icons</a>
                                        <a href="icons-dripicons" class="dropdown-item">Dripicons</a>
                                        <a href="icons-typicons" class="dropdown-item">Typicons Icons</a>
                                        <a href="icons-weather" class="dropdown-item">Weather Icons</a>
                                        <a href="icons-mobirise" class="dropdown-item">Mobirise Icons</a>
                                    </div>
                                </div>

                                <div class="dropdown">
                                    <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-maps"
                                        role="button">
                                        Maps <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-maps">
                                       <a href="maps-google" class="dropdown-item"> Google Map</a>
                                        <a href="maps-vector" class="dropdown-item"> Vector Map</a>
                                    </div>
                                </div>

                                <div class="dropdown">
                                    <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-email-templates"
                                        role="button">
                                        Email Templates <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-email-templates">
                                        <a href="email-templates-basic" class="dropdown-item">Basic Action Email</a>
                                        <a href="email-templates-alert" class="dropdown-item">Alert Email</a>
                                        <a href="email-templates-billing" class="dropdown-item">Billing Email</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button"
                            >
                                <i class="mdi mdi-book-multiple-outline me-2"></i>Pages <div class="arrow-down"></div>
                            </a>

                            <div class="dropdown-menu mega-dropdown-menu px-2 dropdown-mega-menu-xl dropdown-menu-left"
                                aria-labelledby="topnav-pages">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div>
                                           <a href="pages-login" class="dropdown-item">Login</a>
                                           <a href="pages-register" class="dropdown-item">Register</a>
                                           <a href="pages-recoverpw" class="dropdown-item">Recover Password</a>
                                           <a href="pages-lock-screen" class="dropdown-item">Lock Screen</a>
                                           <a href="pages-login-2" class="dropdown-item">Login 2</a>
                                           <a href="pages-register-2" class="dropdown-item">Register 2</a>
                                           <a href="pages-recoverpw-2" class="dropdown-item">Recover Password 2</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div>
                                            <a href="pages-lock-screen-2" class="dropdown-item">Lock Screen 2</a>
                                            <a href="pages-timeline" class="dropdown-item">Timeline</a>
                                            <a href="pages-invoice" class="dropdown-item">Invoice</a>
                                            <a href="pages-directory" class="dropdown-item">Directory</a>
                                            <a href="pages-blank" class="dropdown-item">Blank Page</a>
                                            <a href="pages-404" class="dropdown-item">Error 404</a>
                                            <a href="pages-500" class="dropdown-item">Error 500</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div>
                                            <a href="pages-pricing" class="dropdown-item">Pricing</a>
                                            <a href="pages-gallery" class="dropdown-item">Gallery</a>
                                            <a href="pages-maintenance" class="dropdown-item">Maintenance</a>
                                            <a href="pages-coming-soon" class="dropdown-item">Coming Soon</a>
                                            <a href="faq" class="dropdown-item">FAQ</a>
                                            <a href="contact" class="dropdown-item">Contact</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-ecommerce" role="button"
                            >
                                <i class="mdi mdi-cart-outline me-2"></i>Ecommerce <div class="arrow-down"></div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="topnav-ecommerce">
                                
                                <a href="ecommerce-product-list" class="dropdown-item">Product List</a>
                                <a href="ecommerce-product-grid" class="dropdown-item">Product Grid</a>
                                <a href="ecommerce-order-history" class="dropdown-item">Order History</a>
                                <a href="ecommerce-customers" class="dropdown-item">Customers</a>
                                <a href="ecommerce-product-edit" class="dropdown-item">Product Edit</a>
                            </div>
                        </li>
                        
    
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-layout" role="button"
                            >
                                <i class="mdi mdi-movie-filter-outline me-2"></i>Layouts <div class="arrow-down"></div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="topnav-layout">
                                <div class="dropdown">
                                    <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-layout-verti"
                                        role="button">
                                        Vertical <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-layout-verti">
                                        <a href="layouts-light-sidebar" class="dropdown-item">Light Sidebar</a>
                                        <a href="layouts-compact-sidebar" class="dropdown-item">Compact Sidebar</a>
                                        <a href="layouts-icon-sidebar" class="dropdown-item">Icon Sidebar</a>
                                        <a href="layouts-boxed" class="dropdown-item">Boxed Layout</a>
                                        <a href="layouts-colored-sidebar" class="dropdown-item">Colored Sidebar</a>
                                    </div>
                                </div>

                                <div class="dropdown">
                                    <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-layout-hori"
                                        role="button">
                                        Horizontal <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-layout-hori">
                                        <a href="layouts-horizontal" class="dropdown-item">Horizontal</a>
                                        <a href="layouts-hori-topbar-light" class="dropdown-item">Light Topbar</a>
                                        <a href="layouts-hori-boxed" class="dropdown-item">Boxed Layout</a>
                                    </div>
                                </div>
                            </div>
                        </li>
    
                    </ul>
                </div>
            </nav>
        </div>
    </div>

 

